[MESSAGES CONTROL]
disable=
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    line-too-long,
    attribute-defined-outside-init,
    redefined-builtin,
    disallowed-name,
    unspecified-encoding,
    broad-exception-caught,
    raise-missing-from,
